* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', 'Muli', sans-serif;
  background: var(--bg-main);
  margin: 0;
  padding: 0;
  padding-top: 60px;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Mulish', 'Muli', sans-serif;
}
